In [1]:
%matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Fort Nelson,CA,2021-08-15 21:41:07,58.8053,-122.7002,62.19,72,75,4.61
1,1,Busselton,AU,2021-08-15 21:41:32,-33.6500,115.3333,53.04,69,0,10.54
2,2,Mvomero,TZ,2021-08-15 21:41:32,-6.2500,38.6667,68.45,96,28,3.33
3,3,Alto Araguaia,BR,2021-08-15 21:41:33,-17.3147,-53.2153,80.85,22,40,1.54
4,4,Whitianga,NZ,2021-08-15 21:41:33,-36.8333,175.7000,53.02,58,94,8.03

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speeds
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Alto Araguaia,BR,2021-08-15 21:41:33,-17.3147,-53.2153,80.85,22,40,1.54
5,5,Bethel,US,2021-08-15 21:41:04,41.3712,-73.4140,82.24,54,1,8.05
8,8,Albany,US,2021-08-15 21:38:45,42.6001,-73.9662,77.81,59,100,1.99
11,11,Butaritari,KI,2021-08-15 21:41:35,3.0707,172.7902,82.96,73,26,9.73
14,14,Banda Aceh,ID,2021-08-15 21:41:35,5.5577,95.3222,78.62,77,100,9.04
16,16,Kahului,US,2021-08-15 21:41:36,20.8947,-156.4700,86.97,69,40,17.27
17,17,Sola,VU,2021-08-15 21:41:36,-13.8833,167.5500,77.67,83,90,6.91
18,18,Dingle,PH,2021-08-15 21:41:37,10.9995,122.6711,75.67,88,71,4.61
20,20,Avarua,CK,2021-08-15 21:41:37,-21.2078,-159.7750,77.05,65,75,12.66
21,21,Jamestown,US,2021-08-15 21:38:48,42.0970,-79.2353,76.32,53,1,3.44

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3   Alto Araguaia      BR     80.85 -17.3147  -53.2153
5          Bethel      US     82.24  41.3712  -73.4140
8          Albany      US     77.81  42.6001  -73.9662
11     Butaritari      KI     82.96   3.0707  172.7902
14     Banda Aceh      ID     78.62   5.5577   95.3222
16        Kahului      US     86.97  20.8947 -156.4700
17           Sola      VU     77.67 -13.8833  167.5500
18         Dingle      PH     75.67  10.9995  122.6711
20         Avarua      CK     77.05 -21.2078 -159.7750
21      Jamestown      US     76.32  42.0970  -79.2353

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Alto Araguaia,BR,80.85,-17.3147,-53.2153,Araguaia Palace Hotel
5,Bethel,US,82.24,41.3712,-73.4140,Courtyard by Marriott Danbury
8,Albany,US,77.81,42.6001,-73.9662,
11,Butaritari,KI,82.96,3.0707,172.7902,Isles Sunset Lodge
14,Banda Aceh,ID,78.62,5.5577,95.3222,Sulthan Hotel International
16,Kahului,US,86.97,20.8947,-156.4700,Maui Seaside Hotel
17,Sola,VU,77.67,-13.8833,167.5500,Leumerus Bungalows
18,Dingle,PH,75.67,10.9995,122.6711,SEGAYA PROPERTY
20,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
21,Jamestown,US,76.32,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))